body {
  height: 100%;
  margin: 0;
}

.App {
  text-align: center;

  /*background: rgb(245, 245, 255);*/
  /*height: 100vh;*/

  /*
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.app-wrap {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.market-down {
  background: rgba(178, 137, 142, 1);
}

.market-up {
  background: rgba(137, 178, 153, 1);
}

.market- {
  background: rgba(215, 197, 242, 0.3);
}

.background {
  height: 100%;
  width: 100%;
  position: absolute;

  will-change: background;
  transition: background 1000ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgb(245, 245, 255)),
    to(rgb(153, 137, 178))
  );
  background: linear-gradient(rgb(245, 245, 255), rgb(153, 137, 178));
  -webkit-clip-path: circle(38% at 20% 5%);
  clip-path: circle(38% at 20% 5%);
}

.background::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgb(153, 137, 178)),
    to(rgb(255, 255, 255))
  );
  background: linear-gradient(rgb(153, 137, 178), rgb(245, 245, 255));
  -webkit-clip-path: circle(38% at 80% 100%);
  clip-path: circle(38% at 80% 100%);
}

.background.down::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  animation-duration: 1s;
  animation-delay: 0s;
  animation-name: going-down;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.background.down::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;

  animation-duration: 1s;
  animation-delay: 0s;
  animation-name: going-down;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.background.up::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  animation-duration: 1s;
  animation-delay: 0s;
  animation-name: going-up;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.background.up::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;

  animation-duration: 1s;
  animation-delay: 0s;
  animation-name: going-up;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

@keyframes going-up {
  100% {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgb(26, 134, 55)),
      to(#89b299)
    );
    background: linear-gradient(#89b299, rgb(26, 134, 55));
  }
}

@keyframes going-down {
  100% {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#b2898e),
      to(rgb(228, 8, 8))
    );
    background: linear-gradient(rgb(148, 8, 8), #b2898e);
  }
}
.grid-container {
  height: 100%;
  flex: 1;
}

.grid-wrapper {
  display: grid;
  align-items: center;
  height: 100%;
  grid-template-rows: 1fr;
  grid-template-columns: minmax(650px, 67%) 33%;
  margin-left: 32px;
  margin-right: 32px;
  /*min-width: 375px;*/
}

.custom-shape-divider-bottom-1691162505 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1691162505 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 25px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1691162505 .shape-fill {
  fill: #d7c5f2;
}

.footer-div {
  position: relative;
  bottom: 0;
  /* background-color: rgb(215, 197, 242);*/
  background: linear-gradient(rgb(215, 197, 242), #9198e5);

  min-height: 80px;
}

.footer-wrap {
  margin-left: 32px;
  margin-right: 32px;
  flex: 1;
  height: 100%;
  display: flexbox;
  flex-direction: column;
}

.footer-grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.co-name {
  text-align: left;
}

.lower-div {
  text-align: left;
}

.lower-div span {
  margin: 0;
  font-size: 12px;
  color: rgb(40, 42, 41);
}

.button {
  height: 32px;
  width: 64px;
}

button {
  color: #282c34;
  background-color: rgb(215, 197, 242);
  width: 64px;
  border-radius: 20px;
}

.button {
  width: 100%;
  position: relative;
  margin: 0px;
}

button {
  position: absolute;
  top: -50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 900px) {
  .app {
  }
  .grid-container {
    height: 600px;
  }
  .grid-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .map-item {
    height: 100%;
  }

  .map-div {
    height: 100%;
    width: 100%;
  }

  .map-div > .map {
    height: 100%;
    position: relative;
  }

  .svg-box {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
  }

  .svg-box > g {
  }

  .subtitle-area label {
    font-size: 20px;
    margin: 4px;
  }

  .subtitle-area {
    height: 32px;
  }

  .select-box {
    margin: 0;
  }

  .form-item {
    margin-left: 4vw;
    margin-right: 4vw;
    height: 100%;
  }

  .form-div {
    display: grid;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
  }

  .input-button-result {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
  }

  .result-container {
    margin-top: 0px;
  }
}

@media screen and (max-width: 700px) {
  .app {
  }

  .grid-wrapper {
    display: grid;
    grid-template-rows: repeat(autofill, 1fr);
    grid-template-columns: 1fr;
    position: relative;
  }
}

@media screen and (max-width: 450px) {
  .app-wrap {
    display: grid;
    height: 100vh;
  }

  .grid-wrapper {
    justify-self: center;
    align-self: center;
  }

  .input-div label,
  .input-dive input {
    margin: 4px;
    font-size: 12px;
  }

  label .small {
    width: 12px;
  }

  .footer-div h1 {
    font-size: 24px;
  }

  .lower-div span {
    font-size: 8px;
  }

  .footer-div {
    position: relative;
    bottom: 0;
    /* background-color: rgb(215, 197, 242);*/
    background: linear-gradient(rgb(215, 197, 242), #9198e5);

    height: 80px;
  }

  .navbar {
    height: 60px;
  }
}

/*OLD

.background.down::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgb(148, 8, 8)),
    to(rgb(228, 8, 8))
  );
  background: linear-gradient(rgb(148, 8, 8), rgb(228, 8, 8));
  -webkit-clip-path: circle(38% at 20% 5%);
  clip-path: circle(38% at 20% 5%);
}

.background.down::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgb(228, 8, 8)),
    to(rgb(148, 8, 8))
  );
  background: linear-gradient(rgb(228, 8, 8), rgb(148, 8, 8));
  -webkit-clip-path: circle(38% at 80% 100%);
  clip-path: circle(38% at 80% 100%);
}

.background.up::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgb(26, 134, 55)),
    to(rgb(20, 80, 13))
  );
  background: linear-gradient(rgb(26, 134, 55), rgb(20, 80, 13));
  -webkit-clip-path: circle(38% at 20% 5%);
  clip-path: circle(38% at 20% 5%);
  will-change: background;
  transition: background 1000ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.background.up::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;

  /*
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgb(26, 134, 55)),
    to(rgb(20, 80, 13))
  );
  background: linear-gradient(rgb(20, 80, 13), rgb(26, 134, 55));
  -webkit-clip-path: circle(38% at 80% 100%);
  clip-path: circle(38% at 80% 100%);
  
}
*/
