.wrapper {
  width: 100%;
  position: relative;
  -webkit-backdrop-filter: blur(0.6px);
  backdrop-filter: blur(0.6px);
  display: flexbox;
  border-radius: 20px;
}

.outer-box {
  border-radius: 20px;
  stroke-width: 1px;

  display: flexbox;
  overflow: none;
}

.glass__form__input {
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 10%);
}

form {
  display: block;
  height: 40vh;
}

select {
  margin-top: 20px;
  text-align: center;
}

button {
  margin-top: 20px;
}

.title {
  font-size: 24px;
  background-color: rgb(215, 197, 242);
  width: 100%;
  height: 40px;
  border-radius: 20px 20px 0 0;
}

.result-container {
  overflow: hidden;
  margin-top: 20px;
}

.subtitle {
  font-size: 20px;
}

.result_line {
  margin-top: 20px;

  transition-property: te;
}

.result {
  margin-top: 20px;
}

.output {
  transform: translate3d(0%, 0%, 0px);
}

.output-effect {
  animation-name: text-pop;
  animation-duration: 1s;
}

@keyframes text-pop {
  0% {
    transform: translate3d(0%, 0%, 0px);
  }

  25% {
    transform: translate3d(0%, -101%, 0px);
    opacity: 0;
  }

  50% {
    transform: translate3d(0%, 101%, 0px);
  }

  75% {
    opacity: 1;
    transform: translate3d(0%, 0%, 0px);
  }
}

p {
  font-size: 16px;
}

.subtitle-area {
  height: 40px;
}
.selection-area {
  height: 40px;
}

.select-box {
  min-width: 178px;
}
.input-div {
}

span {
  margin: 8px;
}

label .small {
  width: 48px;
}

label .large {
  width: 96px;
}

label,
.button,
.result-container {
  display: block;
  margin-top: 15px;
}

@media screen and (max-width: 900px) {
  form {
    height: 20vh;
  }

  .result-container {
    margin-top: 0px;
  }
}

@media screen and (max-width: 900px) {
  .subtitle-area {
    height: 32px;
  }

  .selection-area {
    height: 32px;
  }
}

@media screen and (max-width: 450px) {
  .subtitle-area {
    height: 24px;
  }

  .selection-area {
    height: 24px;
  }

  form {
    height: 100%;
  }
}
