.wrapper {
  width: 50vw;

  margin-left: 25vw;
  margin-right: 25vw;
  margin-top: 4rem;

  position: relative;

  -webkit-backdrop-filter: blur(0.6px);
  backdrop-filter: blur(0.6px);
}

.outer-box {
  border-radius: 20px;
  background-color: #d3d3d3;
  margin-top: 2rem;
  stroke-width: 1px;
  stroke: aqua;
  padding: 20px;
}

form {
  display: block;
  height: 20vh;
}

select {
  margin-top: 20px;
  text-align: center;
}

button {
  margin-top: 20px;
}

.title {
  font-size: 24px;
}

.result-container {
  overflow: hidden;
  margin-top: 20px;
}

.result_line {
  margin-top: 20px;

  transition-property: te;
}

.result {
  margin-top: 20px;
}

.output {
  transform: translate3d(0%, 0%, 0px);
}

.output-effect {
  animation-name: text-pop;
  animation-duration: 1s;
}

@keyframes text-pop {
  0% {
    transform: translate3d(0%, 0%, 0px);
  }

  25% {
    transform: translate3d(0%, -101%, 0px);
    opacity: 0;
  }

  50% {
    transform: translate3d(0%, 101%, 0px);
  }

  75% {
    opacity: 1;
    transform: translate3d(0%, 0%, 0px);
  }
}

p {
  font-size: 18px;
}

.glass__form__input {
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
  padding: 10px;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 10%);
}

.input-div {
}

span {
  margin: 8px;
}

label .small {
  width: 48px;
}

label .large {
  width: 96px;
}
